body {
    background-color: #393646;
}

.row {
    width: 100%;
}

.navbar-brand {
    color: #F4EEE0;
}

.name {
    color: #F4EEE0;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
}

.name:hover {
    color: #F4EEE0;
    text-decoration: underline;
}

.chatbot-container {
    background-color: #4F4557;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6D5D6E;
    margin-top: 25px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bot-logo {
    height: 72px;
    width: 72px;
}

.bot-icon {
    background-color: #009400;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-right: 10px;
}

#send-button {
    background-color: #009400;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1.5vw;
    width: 4vw;
}

.send-img {
    height: 30px;
    width: 30px;
}

.conversation {
    overflow-y: scroll;
    height: 70vh;
    margin-bottom: 1vh;
}

.conversation::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    display: none;
}

.conversation,
textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;
    max-width: 62vw;
}

.user-message {
    background-color: #009400;
    color: #fff;
    align-self: flex-end;
    font-size: 1.1vw;
}

.bot-message,
.loader-message {
    background-color: #3498db;
    color: #fff;
    align-self: flex-start;
    font-size: 1.1vw;
}

.loader-message {
    max-width: 35vw !important;
}

.message.loader-message.loader {
    position: relative;
    height: 8vh;
}

.message.loader-message.loader:after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 3px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #39c4b5, #00bcd4);
    animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    50% {
        width: 30%;
    }

    100% {
        width: 95%;
    }
}

.restart-btn {
    align-self: end;
    cursor: pointer;
    scale: 75%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.restart-img {
    height: 30px;
    width: 30px;
}

.copy-btn {
    align-self: end;
    cursor: pointer;
    scale: 75%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.copy-img {
    height: 30px;
    width: 30px;
}

.code-btn {
    cursor: pointer;
    align-self: end;
    scale: 75%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.code-img {
    height: 30px;
    width: 30px;
}

textarea {
    overflow-y: scroll !important;
    resize: none;
    width: 74vw !important;
    border-radius: 15px;
    text-align: justify;
    max-height: 10vh;
    min-height: 8vh;
    font-size: 16px;
    padding: 10px;
}

pre,
code {
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .message {
        max-width: 100%;
    }
}