/* Hide scrollbar for Chrome, Safari and Opera */
.conversation::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.conversation {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    background-color: #393646;
}

.row {
    width: 100%;
}

.navbar-brand {
    color: #F4EEE0;
}

.bot-name {
    color: #F4EEE0;
    font-size: 25px;
}

.chatbot-container {
    background-color: #4F4557;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6D5D6E;
    margin: 25px auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bot-icon {
    background-color: green;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    height: 70px;
    line-height: 40px;
    text-align: center;
    width: 70px;
    margin-right: 10px;
}

input[type="text"] {
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

#send-button {
    background-color: green;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1.5vw;
}

.conversation {
    /* max-height: 200px; */
    overflow-y: scroll;
    /* padding-right: 10px; */
    height: 75vh;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.user-message {
    background-color: green;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: transparent;
    color: #fff;
    align-self: flex-start;
}