.row {
    width: 100% !important;
}

body {
    background-color: #393646;
}

.navbar-brand {
    color: #F4EEE0;
}

.bot-name {
    color: #F4EEE0;
}

.chatbot-container {
    background-color: #4F4557;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6D5D6E;
    margin: 50px auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bot-icon {
    background-color: #4E9F3D;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    margin-right: 10px;
}

input[type="text"] {
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

#send-button {
    background-color: #4E9F3D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1.5vw;
}

.conversation {
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: green;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #3498db;
    color: #fff;
    align-self: flex-start;
}